/********************
YOUR STYLES
*******************/


.char1{
    color: cornflowerblue;
}
.char2{
    color: blueviolet;
}
.char3{
    color: crimson;
}
.char12
{
    color: cornflowerblue;
}

/********************
MEDIA QUERIES
*******************/

/* Desktop */
@media (min-width: 1200px) {

}

/* Tablet */
@media (min-width: 768px) {

}

/* Mobile */
@media (min-width: 480px) {

}